.main-container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display: none;
    cursor: pointer;
    fill: white;
}

body {
    background-image: url("backgroundImage.jpg");
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    height: 800px;
    width: 1500px;

    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 12% 88%;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "sidebar content";

    font-family: "Lata", sans-serif;
}

@media only screen and (max-width: 1550px) {
    .container {
        height: 100vh;
        width: 100vw;
        margin: 0;

        grid-template-rows: 10% 90%;
    }
}

@media only screen and (max-width: 1150px) {
    .container {
        grid-template-rows: 8% 92%;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        grid-template-columns: 0% 100%;
    }

    .menu-icon {
        display: block;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .menu-icon {
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 400px) {
    .menu-icon {
        transform: scale(0.7);
    }
}